{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "✨ Features"
            },
            {
              "type": "fix",
              "section": "🐞 Fixes"
            },
            {
              "type": "perf",
              "section": "🚀 Performance Improvements"
            },
            {
              "type": "revert",
              "section": "⏪ Reverts"
            },
            {
              "type": "docs",
              "section": "📚 Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": "🎨 Styles",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "🏗️ Chores",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "♻️ Code Refactoring",
              "hidden": false
            },
            {
              "type": "test",
              "section": "✅ Tests",
              "hidden": false
            },
            {
              "type": "build",
              "section": "👷 Build System",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "🔧 CI Configuration",
              "hidden": false
            }
          ]
        }
      }
    ],
    "@semantic-release/github"
  ]
}
